<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chavales.los.practica1android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Práctica en grupo: 2ª entrega"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaEnGrupo1Android">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyChh88usZPLErdwPw1ntsrNVOaKa6PLgxY"/>
        <activity android:name=".actividad.CrearProducto"
                  android:label="Creación de un producto"></activity>
        <activity
            android:name=".actividad.LoginActivity"
            android:label="Práctica en grupo"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.Camara"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".actividad.InspeccionarProducto"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".actividad.MainActivity"
            android:label="Práctica en grupo: 2ª entrega"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>

</manifest>